<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth Example</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#unless username}}
      <a href="/login">Login</a>
      {{/unless}}
    </nav>
    <div>
      <h1>TechBlog</h1>

      <p>My brain is not working anymore</p>
    </div>
  </header>

  {{{body}}}
</body>

</html>