<section id="subheader">
    <h1>TechBlog</h1>

    <h4>Welcome to the TechBlog</h4>


    {{!-- loop over and render Posts --}}
    <section id="posts">
        {{#each post}}
        <div id="post">
            <div id="postheader"><a class="postlink" href="/post/{{this.id}}">
                    <h3>{{this.title}}</h3>
                    <h5>posted by: {{this.user.username}}</h5>
                    <p>{{this.content}}</p>
                </a>
            </div>
         
           
         
            
        </div>

        {{/each}}
    </section>