<form class="addpost" action="/newpost" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input id="post-content" name="content" type="text" placeholder="">
  
  <button>Create Post</button>
</form>